.encabezado-publicacion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px;
}

.usuario-publicacion {
  display: flex;
  align-items: center;

  gap: 12px;
}

.usuario-publicacion img {
  width: 45px;
  height: 45px;

  border-radius: 50%;
}

.usuario-publicacion span {
  color: #262626;

  font-weight: 600;
}