.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;

  background:
    rgba(255,255,255,0.05);

  backdrop-filter: blur(18px);

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius: 28px;

  padding: 22px 28px;
}

.encabezado input {
  width: 420px;

  background:
    rgba(255,255,255,0.06);

  border: none;

  outline: none;

  padding: 16px;

  border-radius: 16px;

  color: white;
}

.encabezado input::placeholder {
  color: #94a3b8;
}

.acciones-header {
  display: flex;
  align-items: center;

  gap: 18px;
}

.acciones-header span {
  font-size: 22px;

  cursor: pointer;
}

.acciones-header button {
  background:
    linear-gradient(
      135deg,
      #ff4d6d,
      #ff758f
    );

  border: none;

  padding: 14px 20px;

  border-radius: 16px;

  color: white;

  cursor: pointer;

  font-weight: bold;
}