.encabezado {
  height: 70px;
  background: white;
  border-bottom: 1px solid #dbdbdb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  position: sticky;
  top: 0;
  z-index: 100;
}

.encabezado input {
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #efefef;
}

.iconos {
  display: flex;
  gap: 20px;
  font-size: 22px;
}