.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 30px;

  margin-bottom: 25px;

  background:
    rgba(255,255,255,0.05);

  backdrop-filter: blur(18px);

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius: 28px;
}

.encabezado h1 {
  color: white;

  font-size: 28px;

  font-weight: 700;
}

.encabezado input {
  width: 320px;

  padding: 15px;

  border: none;

  outline: none;

  border-radius: 16px;

  background:
    rgba(255,255,255,0.06);

  color: white;
}

.encabezado input::placeholder {
  color: #94a3b8;
}

.acciones-header {
  display: flex;
  align-items: center;

  gap: 20px;
}

.acciones-header span {
  color: white;

  font-size: 22px;

  cursor: pointer;
}

.acciones-header button {
  border: none;

  padding: 14px 22px;

  border-radius: 16px;

  background:
    linear-gradient(
      135deg,
      #7c3aed,
      #a855f7
    );

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

.acciones-header button:hover {
  transform: scale(1.03);
}