.perfil {
  width: 260px;

  background-color: #111428;

  border-radius: 20px;

  padding: 25px;

  height: fit-content;

  color: white;
}

.perfil-header {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 25px;
}

.perfil-imagen {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  object-fit: cover;
}

.bio {
  color: #b8b8b8;
  margin-top: 5px;
}

.perfil-stats {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  text-align: center;
}

.perfil-stats p {
  color: #b8b8b8;
  font-size: 14px;
}

.boton-perfil {
  width: 100%;

  background-color: #5865f2;

  border: none;

  color: white;

  padding: 12px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: bold;
}