.perfil {
  width: 280px;

  background-color: #151728;

  border-radius: 25px;

  padding: 25px;

  height: fit-content;

  border: 1px solid #23253d;
}

.perfil-header {
  display: flex;
  align-items: center;

  gap: 15px;

  margin-bottom: 25px;
}

.perfil-imagen {
  width: 75px;
  height: 75px;

  border-radius: 50%;

  object-fit: cover;
}

.bio {
  color: #b7b9c9;

  margin-top: 5px;
}

.perfil-stats {
  display: flex;

  justify-content: space-between;

  text-align: center;

  margin-bottom: 25px;
}

.perfil-stats p {
  font-size: 13px;

  color: #a0a3b8;
}

.boton-perfil {
  width: 100%;

  padding: 13px;

  border: none;

  border-radius: 14px;

  background-color: #5865f2;

  color: white;

  font-weight: bold;

  cursor: pointer;
}