.acciones-publicacion {
  padding: 18px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.iconos-acciones {
  display: flex;
  gap: 18px;
}

.iconos-acciones span {
  font-size: 24px;

  cursor: pointer;

  color: white;
}

.cantidad-likes {
  color: white;

  font-weight: bold;
}