* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

body {
  background: #fcfbf8;
}

.layout {
  display: flex;
  justify-content: center;

  gap: 35px;

  padding: 35px 40px;
}

.feed-principal {
  width: 630px;
}