* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  color: #111;
}

body {
  background-color: #fafafa;
}

.layout {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.feed-principal {
  width: 600px;
}