.tarjeta-perfil {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}

.tarjeta-perfil img {
  width: 90px;
  height: 90px;

  border-radius: 50%;

  object-fit: cover;
}

.tarjeta-perfil h2 {
  color: white;
}

.tarjeta-perfil p {
  color: #94a3b8;

  text-align: center;
}

.estadisticas {
  display: flex;

  gap: 25px;
}

.estadisticas strong {
  color: white;
}

.estadisticas span {
  color: #94a3b8;
}

.tarjeta-perfil button {
  width: 100%;

  background:
    linear-gradient(
      135deg,
      #6366f1,
      #8b5cf6
    );

  border: none;

  padding: 14px;

  border-radius: 14px;

  color: white;

  cursor: pointer;
}