.sidebar {
  width: 220px;
  height: 90vh;

  background-color: #151728;

  border-radius: 25px;

  padding: 35px 20px;

  position: sticky;
  top: 20px;
}

.logo {
  font-size: 30px;

  margin-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.menu-item {
  padding: 15px;

  border-radius: 14px;

  font-size: 17px;

  cursor: pointer;

  transition: 0.3s;
}

.menu-item:hover {
  background-color: #23253d;
}