.usuario-sugerido {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 18px;
}

.usuario-info {
  display: flex;
  align-items: center;

  gap: 12px;
}

.usuario-info img {
  width: 45px;
  height: 45px;

  border-radius: 50%;
}

.usuario-info span {
  color: white;
}

.usuario-sugerido button {
  border: none;

  background:
    linear-gradient(
      135deg,
      #6366f1,
      #8b5cf6
    );

  color: white;

  padding: 8px 14px;

  border-radius: 12px;

  cursor: pointer;
}