.publicacion {
  break-inside: avoid;

  margin-bottom: 20px;

  background:
    rgba(255,255,255,0.05);

  backdrop-filter: blur(18px);

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius: 28px;

  overflow: hidden;

  transition: 0.3s;
}

.publicacion:hover {
  transform: translateY(-4px);
}

.imagen-publicacion {
  width: 100%;

  object-fit: cover;

  max-height: 550px;

  cursor: pointer;
}