.info-publicacion {
  padding: 18px;
}

.info-publicacion p {
  color: #dbe4f0;

  line-height: 1.5;
}

.info-publicacion strong {
  color: white;
}

.comentarios {
  color: #94a3b8;

  margin-top: 8px;

  display: inline-block;
}