.info-publicacion {
  padding: 0 18px 22px;
}

.info-publicacion p {
  color: #444;

  line-height: 1.5;
}

.info-publicacion strong {
  color: #262626;
}

.comentarios {
  color: #a29b95;

  font-size: 14px;

  margin-top: 8px;

  display: inline-block;
}