.sugerencias {
  width: 280px;

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 30px;

  padding: 25px;

  height: fit-content;
}

.sugerencias h3 {
  color: white;

  margin-bottom: 20px;
}