.historias {
  display: flex;

  gap: 18px;

  overflow-x: auto;

  margin-bottom: 25px;

  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 24px;

  padding: 22px;
}