.feed {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.publicaciones-grid {
  columns: 3 280px;

  column-gap: 20px;
}

.feed {
  width: 100%;
}

.seccion-feed {
   margin-bottom: 15px;
}

.titulo-seccion {
  color: white;

  font-size: 22px;

  font-weight: 800;

  letter-spacing: 3px;

  margin-bottom: 20px;

  padding-left: 5px;
}