.historia {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;

  min-width: 75px;
}

.historia img {
  width: 70px;

  height: 70px;

  border-radius: 50%;

  padding: 3px;

  background:
    linear-gradient(
      45deg,
      #833ab4,
      #fd1d1d,
      #fcb045
    );
}

.historia span {
  color: #dbe4f0;

  font-size: 13px;
}