.historia {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;

  min-width: 72px;
}

.historia img {
  width: 72px;
  height: 72px;

  border-radius: 50%;

  padding: 3px;

  background:
    linear-gradient(
      45deg,
      #ff9966,
      #ff5e62
    );

  object-fit: cover;
}

.historia span {
  font-size: 13px;

  color: #555;
}